* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #dbdfdf
}

header {
    padding: 10px 10px 10px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(31, 33, 41);
    color: #90c9c9;
}

header h1 {
    display: inline-block;
    font-size: 45px;
    padding: 2.5px .5% 2.5px 5%;
    text-align: right;
    background-color: #90c9c9;
    color: rgb(49, 49, 49);
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-right: 15px;
}

header nav ul a {
    list-style-type: none;
    color: #90c9c9;
    text-decoration: none;
    border-bottom-width: 3px;
    padding-bottom: 2px;
    border-bottom-style: solid;
}

.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/dark-laptop.jpg");
    background-size: cover;
    background-position: center;
}

.hero p {
    padding: 10px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #90c9c9;
    color: rgb(49, 49, 49);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

aside {
    float: left; 
    width: 20%;
    margin-right: .5%;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: rgb(49, 67, 107);
}

.container {
    display: flex;
    margin-right: 5%;
    border-left: 3px solid;
    padding-left: 2%;
    color: rgb(49, 67, 107);
    line-height: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#box1 {
    width: 100%;
    height: 250px;
    background-image: url(../images/surf-report.jpg);
    background-size: cover;
    background-position-y: center;
    border: 3px solid;
    opacity: 0.7;
}

#box1:hover {
    opacity: 1;
}

.worksamples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;    
}

#box2 {
    background-image: url(../images/led-wall.jpg);
    width: 49.5%;
    height: 100px;
    background-size: cover;
    border: 3px solid;
    opacity: 0.7;
    margin: 10px 0px 10px 0px;
}

#box2:hover {
    opacity: 1;
}

#box3 {
    background-image: url(../images/calculator.jpg);
    width: 49.5%;
    height: 100px;
    background-size: cover;
    border: 3px solid;
    opacity: 0.7;
    margin: 10px 0px 10px 0px;
}

#box3:hover {
    opacity: 1;
}

#box4 {
    background-image: url(../images/pastel-puzzels.jpg);
    width: 49.5%;
    height: 100px;
    background-size: cover;
    background-position: bottom;
    border: 3px solid;
    opacity: 0.7;
    margin: 10px 0px 10px 0px;
}

#box4:hover {
    opacity: 1;
}

#box5 {
    background-image: url(../images/run-buddy.jpg);
    width: 49.5%;
    height: 100px;
    background-size: cover;
    background-position-y: 40%;
    border: 3px solid;
    opacity: 0.7;
    margin: 10px 0px 10px 0px;
}

#box5:hover {
    opacity: 1;
}

#work {
    margin-top: 30px;
}

footer {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 10px 10px 10px 0px;
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer ul li {
    display: inline-block;
    margin-right: 15px;
    line-height: 7em;
}