* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #dbdfdf
}

header {
    padding: 10px 10px 10px 0px;
    background-color:rgb(31, 33, 41);
}

header h1 {
    display: inline-block;
    font-family: 'Lato', sans-serif;    
    font-size: 45px;
    padding: 2.5px .5% 2.5px 5%;
    text-align: right;
    background-color: #b7acdd;
    color: rgb(49, 49, 49);
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-right: 15px;
}

header nav ul a {
    list-style-type: none;
    color: #b7acdd;
    text-decoration: none;
    border-bottom-width: 3px;
    padding-bottom: 2px;
    border-bottom-style: solid;
}

.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/dark-laptop.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
}

.hero p {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #b7acdd;
    color: rgb(49, 49, 49);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

aside {
    float: left; 
    width: 20%;
    margin-right: .5%;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: rgb(79, 49, 107);
}

.container {
    display: flex;
    margin-right: 5%;
    border-left: 3px solid;
    padding-left: 2%;
    color: rgb(79, 49, 107);
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.worksamples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;    
}

#box1 {
    width: 100%;
    height: 250px;
    background-image: url(../images/cocktail-generator.png);
    background-size: cover;
    background-position-y: top;
    border: 3px solid;
    opacity: 0.7;
    position: relative;
}

.work1 {
    position: absolute;
    padding: 10px;
    bottom: 10px;
    left: 0;
    background: rgba(62, 29, 154, 0.72);
    color: #fff;
}

#box1, #box2, #box3, #box4, #box5:hover {
    opacity: 1;
}

#box2, #box3, #box4, #box5 {
    background-image: url(../images/horiseon.png);
    width: 49.5%;
    height: 100px;
    background-size: cover;
    border: 3px solid;
    opacity: 0.7;
    margin: 10px 0px 10px 0px;
    position: relative;
}

.work2, .work3, .work4, .work5 {
    position: absolute;
    left: 0;
    padding: 10px;
    bottom: 5px;
    background: rgba(62, 29, 154, 0.72);
    color: #fff;
}

#work {
    margin-top: 30px;
}

#contact {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 10px 10px 10px 0px;
}

#contact-info {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 4rem;
}

#contact-info li {
    display: inline-block;
    font-size: 18px;
    padding: 20px;
    text-decoration: none;
    margin: 0 5rem;
}

#contact-info li a {
    color: #a292da;
    
}

#contact-info li a:hover {
    color: rgb(79, 49, 107);
}